@import "../vendor/photon/sass/photon";

@font-face {
  font-family: "photon-entypo";
  src: url('vendor/photon/fonts/photon-entypo.eot');
  src: url('vendor/photon/fonts/photon-entypo.eot?#iefix') format('eot'),
    url('vendor/photon/fonts/photon-entypo.woff') format('woff'),
    url('vendor/photon/fonts/photon-entypo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}